[submodule "airootfs/etc/skel/.vim/plugged/auto-pairs"]
	path = airootfs/etc/skel/.vim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "airootfs/etc/skel/.vim/plugged/emmet-vim"]
	path = airootfs/etc/skel/.vim/plugged/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "airootfs/etc/skel/.vim/plugged/MatchTag"]
	path = airootfs/etc/skel/.vim/plugged/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "airootfs/etc/skel/.vim/plugged/nerdtree"]
	path = airootfs/etc/skel/.vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "airootfs/etc/skel/.vim/plugged/vim-closetag"]
	path = airootfs/etc/skel/.vim/plugged/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "airootfs/etc/skel/.vim/plugged/vim-easymotion"]
	path = airootfs/etc/skel/.vim/plugged/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "airootfs/etc/skel/.vim/plugged/vim-fugitive"]
	path = airootfs/etc/skel/.vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "airootfs/etc/skel/.vim/plugged/vim-startify"]
	path = airootfs/etc/skel/.vim/plugged/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "airootfs/etc/skel/.tmux/plugins/tmux-color-solarized"]
	path = airootfs/etc/skel/.tmux/plugins/tmux-color-solarized
	url = https://git::@github.com/seebi/tmux-colors-solarized
[submodule "airootfs/etc/skel/.tmux/plugins/tmux-sensible"]
	path = airootfs/etc/skel/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
